USE [master]
GO
/****** Object:  Database [TriathlonResults]    Script Date: 10/24/2008 07:30:24 ******/
CREATE DATABASE [OLSample] ON  PRIMARY 
( NAME = N'OLSample', FILENAME = N'C:\temp\OLSample.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'OLSample_log', FILENAME = N'C:\temp\OLSample.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
EXEC dbo.sp_dbcmptlevel @dbname=N'OLSample', @new_cmptlevel=90
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OLSample].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [OLSample]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 04/15/2009 12:54:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[CreditLimit] [float] NOT NULL,
	[Logo] [image] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[SetCustomer]    Script Date: 04/15/2009 12:54:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SetCustomer]
	@Id int,
	@Name nvarchar(50),
	@StartDate datetime,
	@CreditLimit float,
	@Logo image
AS
BEGIN
	SELECT 1
	FROM Customers 
	WHERE Id = @Id;

	IF @@rowcount = 0
		BEGIN
			INSERT INTO Customers
				(Id, [Name], StartDate, CreditLimit, Logo)
			VALUES
				(@Id, @Name, @StartDate, @CreditLimit, @Logo);
		END
	ELSE
		BEGIN
			UPDATE Customers
			SET Id = @Id,
				[Name] = @Name,
				StartDate = @StartDate,
				CreditLimit = @CreditLimit,
				Logo = @Logo
			WHERE Id = @Id;
		END

END
GO
/****** Object:  StoredProcedure [dbo].[GetCustomer]    Script Date: 04/15/2009 12:54:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetCustomer]
	@Id int
AS
BEGIN
	SELECT *
	FROM Customers
	WHERE Id = @Id;
END
GO
