<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="distributedservicesample.invoker" type="DistributedServiceSample.Invoker.Configuration.InvokerConfiguration, DistributedServiceSample.Invoker"/>
  </configSections>

  <distributedservicesample.invoker defaultServiceLocation="Remote">
    <services>
      <service contract="DistributedServiceSample.Contracts.Services.IComputeService"
               serviceLocation="Local"
               executionMode="AsynchronousIgnoreResponse"/>
    </services>
  </distributedservicesample.invoker>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="RemoteOnly"/>
    <trust level="Full"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="DistributedServiceSample.Services.ComputeService">
        <endpoint binding="basicHttpBinding" 
                  contract="DistributedServiceSample.Contracts.Services.IComputeService"
                  bindingNamespace="http://com/sixeyed/distributedservicesample" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
      <service name="DistributedServiceSample.Services.JobService">
        <endpoint binding="basicHttpBinding"
                  contract="DistributedServiceSample.Contracts.Services.IJobService"
                  bindingNamespace="http://com/sixeyed/distributedservicesample" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
    </services>
    <client>
      <endpoint address="http://localhost/DistributedServiceSample.Services/ComputeService.svc"
          binding="basicHttpBinding" 
          contract="DistributedServiceSample.Contracts.Services.IComputeService"/>
      <endpoint address="http://localhost/DistributedServiceSample.Services/JobService.svc"
          binding="basicHttpBinding"
          contract="DistributedServiceSample.Contracts.Services.IJobService"/>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
