<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="queueUrl" value="[Enter the Queue URL displayed on the Service Provider console]"/>
    <add key="AWSAccessKey" value="[Enter your AWS Access Key]"/>
    <add key="AWSSecretKey" value="[Enter your AWS Secret Key]"/>
    <add key="ReceiveMessageWaitMilliseconds" value="200"/>
  </appSettings>
</configuration>