<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="crossReference" type="ConfigurableCrossReferenceCache.Configuration.MapConfiguration, ConfigurableCrossReferenceCache"/>
  </configSections>

  <crossReference>
    <caching>
      <cache key="StatusCodeLookup" lifespan="PT2S"/>
    </caching>
  </crossReference>

</configuration>