<?xml version="1.0"?>
<configuration>

  <system.web>
    <trust level="Full"/>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <errorLogBehavior />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior>
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="errorLogBehavior"
             type="Sixeyed.WcfRestErrorHandler.ServiceModel.Behaviors.RestErrorHandlerBehavior, Sixeyed.WcfRestErrorHandler.ServiceModel"/>
      </behaviorExtensions>
    </extensions>

    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
