<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="outputFileConfiguration" type="TriathlonResults.Console.OutputFileConfiguration, TriathlonResults.Console" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TriathlonResults.Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <outputFileConfiguration path="..\..\..\Locations\Receive" fileNameFormat="TriathlonResults_{0}_{1}_{2}.txt" fieldDelimiter="|">
  </outputFileConfiguration>
  <applicationSettings>
    <TriathlonResults.Console.Properties.Settings>
      <setting name="UseESB" serializeAs="String">
        <value>False</value>
      </setting>
    </TriathlonResults.Console.Properties.Settings>
  </applicationSettings>
</configuration>