<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="passthrough" type="PassthroughSample.Configuration.PassthroughConfiguration, PassthroughSample" />
  </configSections>

  <passthrough>
    <types>
      <type name="PassthroughSample.Tests.Stubs.ICache, PassthroughSample.Tests"
            passesThroughTo="PassthroughSample.Tests.Stubs.AppFabricCache, PassthroughSample.Tests">
        <members>
          <member name="Name" passesThroughTo="RegionName"/>
          <member name="Get" passesThroughTo="Out"/>
          <member name="Set" passesThroughTo="In"/>
        </members>
      </type>
      <type name="System.DateTime, System"
            passesThroughTo="PassthroughSample.Tests.Stubs.OldDateTime, PassthroughSample.Tests">
        <members>
          <member name="ToString" passesThroughTo="ToOldString"/>
        </members>
      </type>
    </types>
  </passthrough>

</configuration>