<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TriathlonResults" connectionString="Data Source=BIZTEST\DEV01;Initial Catalog=TriathlonResults;User ID=TriathlonResults;Password=TriathlonResults" />
  </connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" />
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <customErrors mode="RemoteOnly" />
  </system.web>
</configuration>