<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <connectionStrings>
    <add name="local"
      connectionString="Data Source=ESLPC347\ESDEV01;Initial Catalog=WcfPersonalizationSample;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>


  <system.web>
    <webParts enableExport="true">
      <personalization defaultProvider="PersonalizationServiceProvider">
        <providers>
          <add name="PersonalizationServiceProvider"
            type="WcfPersonalizationProvider.PersonalizationServiceProvider, WcfPersonalizationProvider"
            connectionStringName="local"
            applicationName="WcfPersonalizationSample.Tests" />
        </providers>
      </personalization>
    </webParts>
  </system.web>
  
</configuration>