<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TriathlonResults.Winforms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <TriathlonResults.Winforms.Properties.Settings>
      <setting name="TriathlonResults_Winforms_TriathlonResults_Central_Services_ResultService" serializeAs="String">
        <value>http://localhost/triathlonresults.central/resultservice.asmx</value>
      </setting>
      <setting name="UseESB" serializeAs="String">
        <value>True</value>
      </setting>
    </TriathlonResults.Winforms.Properties.Settings>
  </applicationSettings>
</configuration>