<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appSettings />

  <connectionStrings>
    <add name="OLSample" providerName="System.Data.SqlClient" connectionString="Data Source=WIN-JMWGPJ7LQL5\ESDEV01;Initial Catalog=OLSample;Integrated Security=True" />
  </connectionStrings>

  <system.serviceModel>
    <services>
      <service behaviorConfiguration="Sixeyed.OptimisticLockingSample.Services.CustomerServiceBehavior" name="Sixeyed.OptimisticLockingSample.Services.CustomerService">
        <endpoint address="" binding="basicHttpBinding" contract="Sixeyed.OptimisticLockingSample.Services.ICustomerService" bindingNamespace="http://Sixeyed.OptimisticLockingSample/2009" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Sixeyed.OptimisticLockingSample.Services.CustomerServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataSignatureBehavior />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="dataSignatureBehavior" 
             type="Sixeyed.OptimisticLockingSample.ServiceModel.Behaviors.DataSignatureServiceBehavior, Sixeyed.OptimisticLockingSample.ServiceModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=48f79d0938a76ebb" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  
</configuration>
