<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="fileWatcherConfiguration" type="TriathlonResults.Central.Console.Config.FileWatcherConfiguration, TriathlonResults.Central.Console" />
  </configSections>
  <connectionStrings>
    <add name="TriathlonResults" connectionString="Data Source=BIZTEST\DEV01;Initial Catalog=TriathlonResults;User ID=TriathlonResults;Password=TriathlonResults" />
  </connectionStrings>
  <fileWatcherConfiguration path="..\..\..\Locations\Receive" filter="*.txt" enabled="True" fieldDelimiter="|">
  </fileWatcherConfiguration>
</configuration>